<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="header-logo" href="/">
        TravelPlanner
      </a>
      <ul class="navbar">
        <li>
          <a href="/">Plan</a>
        </li>
        <li>
          <a href="/trip.html">My trip</a>
        </li>
      </ul>
    </header>

    <div class="page-wrapper">
      <main class="page-content">
        <section style="background-color: grey;">
          <h1>Travel Planner</h1>

            <form id="form">
              <ul class="input-list">
                <li>
                  <label for="place-name">My trip to (city):</label
                    ><input
                      type="text"
                      id="place-name"
                      placeholder="Please enter your city"
                    />
                </li>
                <li>
                  <label for="zip">My trip to (zip):</label>
              <input
                type="text"
                id="zip"
                placeholder="Please enter your zip code"
              />
                </li>
                <li>
                  <label for="date">Departing:</label>Departing<input
                  type="text"
                  id="date"
                  placeholder="When are you leaving?"
                />
                </li>
                <li>
                  <input type="submit" value="submit" />
                </li>
              </ul>
            </form>
          </div>

        </section>
      </main>

      <aside class="page-sidebar">
        <section class="about">
          <h2>About</h2>
          <p>
            We help you plan your next trip! Just enter your destination and
            date of departure and we're going to present to you weather forecasts and
            general information about your destination.
          </p>
        </section>
      </aside>
    </div>
    <footer>
      <ul class="navbar">
        <li>
          <a href="/">Plan</a>
        </li>
        <li>
          <a href="/trip.html">My trip</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
