<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="header-logo" href="/">
        TravelPlanner
      </a>
      <ul class="navbar">
        <li>
          <a href="#planner">Plan</a>
        </li>
        <li>
          <a href="#trips">My trips</a>
        </li>
      </ul>
    </header>

    <div class="page-wrapper">
      <main class="page-content">
        <section id="planner">
          <form id="form">
            <h1>Add your trip</h1>
            <ul class="input-list">
              <li>
                <label for="place-name">Which city are you visiting?</label
                  ><input
                    type="text"
                    id="place-name"
                    placeholder="Please enter your city"
                  />
              </li>
              <li>
                <label for="zip">What's the zip code?</label>
                <input
                  type="text"
                  id="zip"
                  placeholder="Please enter your zip code"
                />
              </li>
              <li>
                <label for="date">When are you leaving?</label>
                <input
                  type="date"
                  id="date"
                  placeholder="When are you leaving?"
                />
              </li>
              <li>
                <input class="btn" type="submit" value="Add it!" />
              </li>
            </ul>
          </form>
        </section>
        <section id="trips">
          <h1>My trips</h1>
        </section>
        </div>
      </main>
    </div>
  </body>
</html>
