header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary;
  padding: 8px;

  a,
  a:visited {
    text-transform: uppercase;
    color: $default-bright;
  }
  a:hover {
    color: $primary;
  }

  .header-logo {
    font-weight: 700;
    font-size: 1.6em;
    margin: 0.5em;
  }

  @include breakpoint("sm") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
