header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d1d1d1;
  padding: 8px;

  .header-logo {
    font-weight: 700;
    font-size: 1.6em;
    margin: 0.5em;
  }

  @include breakpoint('sm') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
