.page-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    "content"
    "sidebar";
  padding: 20px;
  max-width: 1000px;
  margin: auto;

  @include breakpoint("md") {
    padding: 30px;
    grid-template-columns: auto 200px;
    grid-template-areas: "content sidebar";
  }
}

.page-content {
  grid-area: content;

  @include breakpoint("md") {
    margin: 30px;
  }
}

.page-sidebar {
  grid-area: sidebar;
}
