@import "./colors";
@import "./_breakpoints";
@import "./_typo.scss";
@import "./_components.scss";

* {
  box-sizing: border-box;
}

input, button {
  outline: none;
}

body {
  margin: 0;
  color: $default-dark;
  background: $default-bright;
}